<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aras.Tools.I18N.ExpImpMLData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aras.Tools.I18N.ExpImpMLData.Properties.Settings>
            <setting name="config_file" serializeAs="String">
                <value/>
            </setting>
            <setting name="folder" serializeAs="String">
                <value/>
            </setting>
            <setting name="log_file" serializeAs="String">
                <value/>
            </setting>
            <setting name="log_level" serializeAs="String">
                <value>low</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value/>
            </setting>
            <setting name="db" serializeAs="String">
                <value/>
            </setting>
            <setting name="login" serializeAs="String">
                <value/>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathForSqlFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="language_code" serializeAs="String">
                <value/>
            </setting>
        </Aras.Tools.I18N.ExpImpMLData.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
